
$whiteColor: #f9f9f5;

$greyTextColor: #c7c7c7;

$errorColor: #ce474c;

$borderColor: #16523b;

$backgroundColor: #262626;

$greenColor: #0cad69;

$aquaColor: #3ec1f5;

$purpleColor: #d49dfb;

$fontFamily: monaco,Consolas,Lucida Console,monospace; 

